<!DOCTYPE html>
<html lang="en">
  <%- include("../../components/Head", { title: "Ürünler" }) %>
  <body class="light" style="display: flex">
    <!-- Sidebar -->
    <%- include("../../components/Sidebar", { active: "urunler" }) %>
    <!-- Main -->
    <div id="dashboard-main">
      <div class="products-header">
        <div class="col">
          <div class="row">
            <h2>Ürünler</h2>
            <div class="info-box primary">1,247</div>
          </div>
          <div class="row">
            <p>Tüm ürünlerinizi yönetin, düzenleyin ve takip edin.</p>
          </div>
        </div>
        <div class="col">
          <div class="product-actions">
            <a class="btn" href=""
              ><span class="bxr bx-arrow-in-down-square-half"></span>Excel
              İndir</a
            >
            <a href="" class="btn btn-primary"
              ><span class="bxr bx-plus"></span>Yeni Ürün Ekle</a
            >
          </div>
        </div>
      </div>
      <div class="dash-divider"></div>
      <div class="filter-section">
        <div class="inp-sec">
          <input
            type="text"
            placeholder="Ürün adı, barkod, SKU veya açıklama ara..."
            name="productSearch"
          />
          <label for="productSearch"><span class="bxr bx-search"></span></label>
        </div>
        <div class="row">
          <div class="col">
            <div class="filter-container">
              <div class="filter-dropdown">
                <div class="filter-dd-title">
                  <span class="bxr bx-menu-filter"></span>Tüm kategoriler
                  <span class="bxr bx-chevron-down"></span>
                </div>
                <div class="filter-dd-content">
                  <div class="dd-container">
                    <div class="dd-header">
                      <h5>Kategori Seçin</h5>
                      <a href="">Temizle</a>
                    </div>
                    <div class="dd-searchbox">
                      <div class="inp-sec-alt">
                        <input
                          type="text"
                          name="categorySearch"
                          placeholder="Kategori ara..."
                        />
                        <label for="categorySearch"
                          ><span class="bxr bx-search"></span
                        ></label>
                      </div>
                    </div>
                    <div class="dd-list">
                      <div class="dd-item">
                        <div class="col">
                          <input type="checkbox" checked />
                          Tümü
                        </div>
                        <div class="col">
                          <p>1,247</p>
                        </div>
                      </div>
                      <div class="dd-divider"></div>
                      <div class="dd-item">
                        <div class="col">
                          <input type="checkbox" />
                          Elektronik
                        </div>
                        <div class="col"><p>437</p></div>
                      </div>
                      <div class="dd-item">
                        <div class="col">
                          <input type="checkbox" />
                          Gıda
                        </div>
                        <div class="col"><p>356</p></div>
                      </div>
                      <div class="dd-item">
                        <div class="col">
                          <input type="checkbox" />
                          Giyim
                        </div>
                        <div class="col"><p>248</p></div>
                      </div>
                      <div class="dd-item">
                        <div class="col">
                          <input type="checkbox" />
                          Aksesuar
                        </div>
                        <div class="col"><p>132</p></div>
                      </div>
                      <div class="dd-item">
                        <div class="col">
                          <input type="checkbox" />
                          Ev & Yaşam
                        </div>
                        <div class="col"><p>74</p></div>
                      </div>
                    </div>
                    <div class="dd-divider"></div>
                    <div class="dd-actions">
                      <a href="" class="btn">İptal</a>
                      <a href="" class="btn btn-primary">Uygula</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="filter-dropdown">
                <div class="filter-dd-title">
                  <span class="bxr bx-chart-bar-columns"></span>Stok Durumu
                  <span class="bxr bx-chevron-down"></span>
                </div>
                <div class="filter-dd-content">
                  <div class="dd-container">
                    <div class="dd-header">
                      <h5>Stok Durumu</h5>
                      <a href="">Temizle</a>
                    </div>
                    <div class="dd-list">
                      <div class="dd-item">
                        <div class="col">
                          <input type="checkbox" />
                          <span class="status success"></span>
                          Yeterli Stok
                        </div>
                        <div class="col">
                          <p>1,150</p>
                        </div>
                      </div>
                      <div class="dd-item">
                        <div class="col">
                          <input type="checkbox" />
                          <span class="status warning"></span>
                          Düşük Stok
                        </div>
                        <div class="col">
                          <p>74</p>
                        </div>
                      </div>
                      <div class="dd-item">
                        <div class="col">
                          <input type="checkbox" />
                          <span class="status danger"></span>
                          Kritik Stok
                        </div>
                        <div class="col">
                          <p>23</p>
                        </div>
                      </div>
                      <div class="dd-item">
                        <div class="col">
                          <input type="checkbox" />
                          <span class="status"></span>
                          Tükendi
                        </div>
                        <div class="col">
                          <p>0</p>
                        </div>
                      </div>
                      <div class="dd-divider"></div>
                    </div>
                    <div class="dd-divider"></div>
                    <div class="dd-actions">
                      <a href="" class="btn">İptal</a>
                      <a href="" class="btn btn-primary">Uygula</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="filter-dropdown">
                <div class="filter-dd-title">
                  <span class="bxr bx-lira"></span>Fiyat Aralığı
                  <span class="bxr bx-chevron-down"></span>
                </div>
                <div class="filter-dd-content">
                  <div class="dd-container">
                    <div class="dd-header">
                      <h5>Fiyat Aralığı</h5>
                      <a href="">Sıfırla</a>
                    </div>
                    <div class="inp-row">
                      <div class="input">
                        <label for="minPrice">Min Fiyat</label>
                        <input
                          type="number"
                          name="minPrice"
                          min="0"
                          placeholder="0"
                        />
                      </div>
                      <div class="input">
                        <label for="maxPrice">Max Fiyat</label>
                        <input
                          type="number"
                          name="maxPrice"
                          min="0"
                          placeholder="10,000"
                        />
                      </div>
                    </div>
                    <div class="quick-select">
                      <div class="selection-text">Hızlı Seçim:</div>
                      <div class="selections">
                        <div class="select-btn">0₺ - 100₺</div>
                        <div class="select-btn">100₺ - 500₺</div>
                        <div class="select-btn">500₺ - 1,000₺</div>
                        <div class="select-btn">1,000₺ - 5,000₺</div>
                        <div class="select-btn">5,000₺ - 10,000₺</div>
                        <div class="select-btn">10,000₺+</div>
                      </div>
                    </div>
                    <div class="dd-divider"></div>
                    <div class="dd-actions">
                      <a href="" class="btn">İptal</a>
                      <a href="" class="btn btn-primary">Uygula</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="filter-dropdown">
                <div class="filter-dd-title">
                  <span class="bxr bx-menu-left"></span>Sırala: En Yeni
                  <span class="bxr bx-chevron-down"></span>
                </div>
                <div class="filter-dd-content">
                  <div class="dd-container">
                    <div class="dd-header">
                      <h5>Sıralama Seçin</h5>
                    </div>
                    <div class="dd-list">
                      <div class="dd-item selectable selected">
                        <div class="col">
                          <span class="bx bx-time"></span>
                          En Yeni
                        </div>
                        <div class="col">
                          <div class="checkmark">
                            <span class="bxr bx-check"></span>
                          </div>
                        </div>
                      </div>
                      <div class="dd-item selectable">
                        <div class="col">
                          <span class="bx bx-time-five"></span>
                          En Eski
                        </div>
                        <div class="col"></div>
                      </div>
                      <div class="dd-divider"></div>
                      <div class="dd-item selectable">
                        <div class="col">
                          <span class="bx bx-sort-a-z"></span>
                          İsim (A-Z)
                        </div>
                        <div class="col"></div>
                      </div>
                      <div class="dd-item selectable">
                        <div class="col">
                          <span class="bx bx-sort-z-a"></span>
                          İsim (Z-A)
                        </div>
                        <div class="col"></div>
                      </div>
                      <div class="dd-divider"></div>
                      <div class="dd-item selectable">
                        <div class="col">
                          <span class="bx bx-trending-up"></span>
                          Fiyat (Düşük -> Yüksek)
                        </div>
                        <div class="col"></div>
                      </div>
                      <div class="dd-item selectable">
                        <div class="col">
                          <span class="bx bx-trending-down"></span>
                          Fiyat (Yüksek -> Düşük)
                        </div>
                        <div class="col"></div>
                      </div>
                      <div class="dd-divider"></div>
                      <div class="dd-item selectable">
                        <div class="col">
                          <span class="bx bx-chevron-up"></span>
                          Stok (Az -> Çok)
                        </div>
                        <div class="col"></div>
                      </div>
                      <div class="dd-item selectable">
                        <div class="col">
                          <span class="bx bx-chevron-down"></span>
                          Stok (Çok -> Az)
                        </div>
                        <div class="col"></div>
                      </div>
                      <div class="dd-divider"></div>
                      <div class="dd-item selectable">
                        <div class="col">
                          <span class="bx bx-star"></span>
                          En Popüler
                        </div>
                        <div class="col"></div>
                      </div>
                      <div class="dd-item selectable">
                        <div class="col">
                          <span class="bx bx-line-chart"></span>
                          En Çok Satan
                        </div>
                        <div class="col"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="view-toggle">
              <div class="view-toggle-btn active">
                <span class="bxr bx-menu"></span>
              </div>
              <div class="view-toggle-btn">
                <span class="bxr bx-table-cells-large"></span>
              </div>
              <div class="view-toggle-btn">
                <span class="bxr bx-chart-bar-columns"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-section">
        <table>
          <thead>
            <tr>
              <th class="checkbox-cell"><input type="checkbox" /></th>
              <th>Resim</th>
              <th class="sortable">
                <p>
                  Ürün Bilgileri <span class="bxr bx-chevrons-up-down"></span>
                </p>
              </th>
              <th class="sortable">
                <p>Kategori <span class="bxr bx-chevrons-up-down"></span></p>
              </th>
              <th class="sortable">
                <p>Stok <span class="bxr bx-chevrons-up-down"></span></p>
              </th>
              <th class="sortable">
                <p>Birim Fiyat <span class="bxr bx-chevrons-up-down"></span></p>
              </th>
              <th class="sortable">
                <p>
                  Toplam Değer <span class="bxr bx-chevrons-up-down"></span>
                </p>
              </th>
              <th>Durum</th>
              <th>İşlemler</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="checkbox-cell"><input type="checkbox" /></td>
              <td>
                <div class="table-image">
                  <img
                    src="https://assets.getmobil.com/uploads/13464/getmobil-apple-iphone13promax-silver-00webp.png"
                    alt=""
                  />
                </div>
              </td>
              <td>
                <div class="col">
                  <a href="">iPhone 13 Pro Max</a>
                  <p>#BAR123456</p>
                </div>
              </td>
              <td><div class="category-badge">Elektronik</div></td>
              <td class="stock-cell">
                <div class="col">
                  <!-- normal, low, critical -->
                  <div class="stock-amount normal">45</div>
                  <div class="stock-min">Min: 50</div>
                </div>
              </td>
              <td class="price-cell">
                <p><span class="bxr bx-lira"></span>15,000</p>
              </td>
              <td class="price-cell">
                <p><span class="bxr bx-lira"></span>675,000</p>
              </td>
              <td class="status-cell">
                <div class="circle circle-success"></div>
              </td>
              <td class="actions-cell">
                <button class="act-btn">
                  <span class="bxr bxs-dots-vertical"></span>
                </button>
              </td>
            </tr>
            <tr>
              <td class="checkbox-cell"><input type="checkbox" /></td>
              <td>
                <div class="table-image">
                  <img
                    src="https://assets.mmsrg.com/isr/166325/c1/-/ASSET_MMS_141310014"
                    alt=""
                  />
                </div>
              </td>
              <td>
                <div class="col">
                  <a href="">Samsung QLED 55" TV</a>
                  <p>#BAR789012</p>
                </div>
              </td>
              <td><div class="category-badge">Elektronik</div></td>
              <td class="stock-cell">
                <div class="col">
                  <!-- normal, low, critical -->
                  <div class="stock-amount low">8</div>
                  <div class="stock-min">Min: 30</div>
                </div>
              </td>
              <td class="price-cell">
                <p><span class="bxr bx-lira"></span>12,000</p>
              </td>
              <td class="price-cell">
                <p><span class="bxr bx-lira"></span>96,000</p>
              </td>
              <td class="status-cell">
                <div class="circle circle-warning"></div>
              </td>
              <td class="actions-cell">
                <button class="act-btn">
                  <span class="bxr bxs-dots-vertical"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="pagination-container">
          <div class="col">
            <p>1-20 arası gösteriliyor (Toplam : <strong>1,247</strong>)</p>
            <p>
              <label for="page-limit">Sayfa başına:</label>
              <select name="page-limit" id="page-limit" class="page-limit">
                <option value="20" selected>20</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="all">Tümü</option>
              </select>
            </p>
          </div>
          <div class="col">
            <div class="pagination">
              <a class="pg-btn prev-btn disabled"
                ><span class="bxr bx-chevron-left"></span>Önceki</a
              >
              <a class="pg-btn active">1</a>
              <a class="pg-btn">2</a>
              <a class="pg-btn">3</a>
              <a class="pg-btn">4</a>
              <a class="pg-btn">5</a>
              <span class="dots">...</span>
              <a class="pg-btn">63</a>
              <a class="pg-btn next-btn"
                >Sonraki<span class="bxr bx-chevron-right"></span
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Scripts -->
    <script src="/assets/js/select.js"></script>
  </body>
</html>
