<!DOCTYPE html>
<html lang="en" style="height: 100%">
  <%- include("../components/Head", { title: "Giriş Yap"}) %>
  <body
    class="light"
    style="
      height: 100dvh;
      overflow: hidden;
      margin: 0;
      padding: 0;
      overscroll-behavior: none;
      touch-action: none;
    "
  >
    <!-- Alert -->
    <%- include("../components/Alert") %>
    <!-- Reactangle -->
    <div class="login-bg">
      <img src="/assets/img/login_rectangle.svg" />
    </div>
    <div class="invento-container">
      <h1>Invento</h1>
      <p>Stok & Envanter Yönetim Sistemi</p>
    </div>
    <div class="login-container">
      <img src="/assets/img/logo1.png" />
      <form action="/login" method="POST" data-loading-form>
        <div class="inp-sec">
          <input
            type="text"
            name="email"
            placeholder="Email"
            autocomplete="off"
          />
          <label for="email"><span class="bxr bx-envelope"></span></label>
        </div>
        <div class="inp-sec">
          <input
            type="password"
            name="password"
            placeholder="Şifre"
            autocomplete="off"
          />
          <label for="password"><span class="bxr bx-lock"></span></label>
        </div>
        <% if (session.alert) { %>
        <div class="alert alert-<%= session.alert.type %>">
          <%= session.alert.message %>
        </div>
        <% } %>
        <div class="inp-sec">
          <button type="submit">
            <span class="text">Giriş Yap</span>
            <span class="spinner"></span>
          </button>
        </div>
      </form>
    </div>
    <!-- Scripts -->
    <script src="/assets/js/loading.helper.js"></script>
  </body>
</html>
