<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Invento | Giriş Yap</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link
      href="https://cdn.boxicons.com/3.0.3/fonts/basic/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.boxicons.com/3.0.3/fonts/brands/boxicons-brands.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="light" style="overflow: hidden">
    <!-- Reactangle -->
    <div class="login-bg">
      <img src="/assets/img/login_rectangle.svg" />
    </div>
    <div class="invento-container">
      <h1>Invento</h1>
      <p>Stok & Envanter Yönetim Sistemi</p>
    </div>
    <div class="login-container">
      <img src="/assets/img/logo1.png" />
      <form action="" method="POST">
        <div class="inp-sec">
          <input
            type="text"
            name="email"
            placeholder="Email"
            autocomplete="off"
          />
          <label for="email"><span class="bxr bx-envelope"></span></label>
        </div>
        <div class="inp-sec">
          <input
            type="password"
            name="password"
            placeholder="Şifre"
            autocomplete="off"
          />
          <label for="password"><span class="bxr bx-lock"></span></label>
        </div>
        <div class="inp-sec">
          <button type="submit">Giriş Yap</button>
        </div>
        <a href="/forgot-password" style="text-align: center"
          >Şifremi unuttum</a
        >
      </form>
    </div>
    <!-- Scripts -->
  </body>
</html>
