<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Invento | <%= title %></title>
  <link rel="shortcut icon" href="/assets/img/logo1.png" type="image/x-icon" />
  <link rel="stylesheet" href="/assets/css/style.css" />
  <link
    href="https://cdn.boxicons.com/3.0.3/fonts/basic/boxicons.min.css"
    rel="stylesheet"
  />
  <link
    href="https://cdn.boxicons.com/3.0.3/fonts/brands/boxicons-brands.min.css"
    rel="stylesheet"
  />
  <link
    href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
    rel="stylesheet"
  />
</head>
